input {
    margin-bottom: .5rem;
}

fieldset div:last-of-type {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    width: fit-content;
}

p,
label {
    font: 1rem 'Fira Sans', sans-serif;
}

input {
    margin: 0.4rem;
}
